@use "src/global-css/font";
@use "src/global-css/color";
@use "src/global-css/params";

.PanelSettings {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.PostSettins {
	display: flex;
	gap: 15px;
	align-items: center;
}
.active {
	display: flex !important;
}
.toggler {
	display: none;
}
@media (width<1450px) {
	.toggler {
		display: block;
		z-index: 0;
	}
	.PostSettins {
		display: none;
		position: absolute;
		top: 55px;
		right: 0px;
		flex-direction: column;
		background-color: color.$dark;
		border-radius: 20px;
		padding: 15px;
		align-items: start;
		@include params.light;
		z-index: 1;
	}
}
