@use "src/global-css/font";
@use "src/global-css/color";
@use "src/global-css/params";
.Wrapper {
	position: relative;
	background-color: color.$back;
	width: 100%;
	min-height: 100vh;
	padding: 110px 0px 250px 0px;
}
