@mixin H {
	font-family: "Abosanova Regular";
	font-size: 40px;
	font-weight: normal;
}
@mixin H-mob {
	font-family: "Abosanova Regular";
	font-size: 26px;
	font-weight: normal;
}
@mixin H-mini {
	font-family: "Comfortaa Bold";
	font-size: 26px;
	font-weight: normal;
}
@mixin H-mini-mob {
	font-family: "Comfortaa Bold";
	font-size: 20px;
	font-weight: normal;
}
@mixin span {
	font-family: "Comfortaa Bold";
	font-size: 18px;
}
@mixin p {
	font-family: "Comfortaa Bold";
	font-size: 16px;
	line-height: 153%;
}
@mixin p-mob {
	font-family: "Comfortaa Bold";
	font-size: 12px;
	line-height: 153%;
}
@mixin input {
	font-family: "Comfortaa Regular";
	font-size: 16px;
}
@mixin input-mob {
	font-family: "Comfortaa Regular";
	font-size: 14px;
}
@mixin span-little {
	font-family: "Comfortaa Bold";
	font-size: 14px;
}
