@use "src/global-css/font";
@use "src/global-css/color";
@use "src/global-css/params";

.AddPostWindow {
	align-items: center;
	display: flex;
	justify-content: center;
}
.Window {
	padding: 35px 30px;
	display: flex;
	flex-direction: column;
	gap: 35px;
	background-color: color.$dark;
	border-radius: 20px;
}
.H1 {
	text-align: center;
	@include font.H;
	color: color.$light;
}
.Form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0px 50px;
}
.TextBlock {
	display: flex;
	align-items: center;
	background-color: color.$light;
	border-radius: 10px;
	padding: 5px 10px;
	gap: 5px;
	@include params.input-shadow;
}
.TextInput {
	width: 100%;
	outline: none;
	background: none;
	border: none;
	color: color.$dark;
	@include font.input;
}
.TextArea {
	resize: vertical;
	overflow: hidden;
}
.error {
	@include params.input-shadow-err;
	background-color: rgb(253, 213, 213);
}
.errorName {
	color: rgb(255, 112, 112);
	@include font.span-little;
	text-align: center;
}

.TextButton {
	padding: 5px 10px;
	outline: none;
	background: none;
	border: 2px solid color.$light;
	border-radius: 10px;
	color: color.$light;
	@include font.input;
	&:hover {
		@include params.light;
		cursor: pointer;
	}
}
.fileBlock {
	justify-content: center;
	max-width: 300px;
	display: flex;
	align-items: center;
	color: color.$light;
	@include font.span;
	&:hover {
		cursor: pointer;
		opacity: 0.5;
	}
}
.fileInput {
	display: none;
}
.filePic {
	object-fit: cover;
	width: 50px;
	height: 50px;
}
.fileText {
	text-align: end;
	word-wrap: break-word;
}
.addTegblock {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.addTegTextBar {
	display: flex;
	gap: 15px;
}
.tegBox {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid color.$light;
	min-height: 100px;
}
.addTegButton {
	padding: 5px 10px;
	outline: none;
	background: none;
	border: 2px solid color.$light;
	border-radius: 10px;
	color: color.$light;
	@include font.input;
	&:hover {
		@include params.light;
		cursor: pointer;
	}
}
.Teg {
	position: relative;
	gap: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 5px 40px 5px 10px;
	border: 2px solid color.$light;
	color: color.$light;
	@include font.span;
}
.TegDel {
	transition-duration: 0.1s;
	right: 10px;
	position: absolute;
	object-fit: cover;
	width: 20px;
	height: 20px;
	&:hover {
		right: 0px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
}
@media (width<=780px) {
	.Teg {
		@include font.span-little;
	}
	.Window {
		padding: 15px;
	}
	.filePic {
		object-fit: cover;
		width: 20px;
		height: 20px;
	}
	.fileBlock {
		@include font.span-little;
	}
	.TextInput {
		@include font.input-mob;
	}
	.H1 {
		@include font.H-mob;
	}
	.TextButton {
		@include font.input-mob;
	}
	.Window {
		width: 100%;
		border-radius: 0px;
	}
	.Form {
		align-items: center;
	}
}
